<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn SUI Mobile</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="Learning SUI Mobile">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="/assets/css/sm.min.css">
    <link rel="stylesheet" href="/assets/css/sm-extend.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">

    <link rel="apple-touch-icon-precomposed" href="assets/img/apple-touch-icon-114x114.png">
    <script src="/assets/js/zepto.min.js"></script>
    <script src="/config.js"></script>
  </head>
  <body>
    <div class="page-group">
        <div class="page page-current"  id="page-home">
            <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100" style="bottom:2rem;">
                <div class="content-block-title">我的代办</div>
                <div class="agency-card">
                    <div class="card">
                        <div class="card-content">
                          <div class="card-content-inner agency-card-inner">
                              <div class="inner-title">会员</div>
                              <div class="inner-content">10</div>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                          <div class="card-content-inner agency-card-inner">
                              <div class="inner-title">产品</div>
                              <div class="inner-content">10</div>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                          <div class="card-content-inner agency-card-inner">
                              <div class="inner-title">内容</div>
                              <div class="inner-content">10</div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="content-block-title">最新通知</div>
                <div class="notice-container">
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                   <div class="preloader"></div>
                </div>
            </div>
            <nav class="bar bar-tab">
                <a class="tab-item external active" href="/views/home/index.html">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">工作台</span>
                </a>
                <a class="tab-item external" href="/views/product/index.html">
                    <span class="icon icon-star"></span>
                    <span class="tab-label">产品管理</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-cart"></span>
                    <span class="tab-label">交易管理</span>
                </a>
                <a class="tab-item external" href="#">
                    <span class="icon icon-app"></span>
                    <span class="tab-label">其他</span>
                </a>
            </nav>
        </div>
    </div>
    <script src="/assets/js/sm.min.js"></script>
    <script src="/assets/js/sm-extend.min.js"></script>
    <script src="/assets/js/sm-city-picker.min.js"></script>
    <script src="/app.js"></script>
    <script src="/views/home/home.js"></script>
  </body>
</html>
