.content-block{
  height: calc(100% + 1px); /* 动态增加内容的时候在iphone 5c上出现无法滚动的问题 http://patrickmuff.ch/blog/2014/10/01/how-we-fixed-the-webkit-overflow-scrolling-touch-bug-on-ios/ */
}

.item{
	background: black;
	border-bottom: solid 1px #282828;
	.item-title{
		position: relative;
		width: 100%;
	    padding: 4px 0 4px 8px;
	    border-bottom: solid 1px #282828;
	}
	.item-list{
		padding-top: 4px;
		display: none;
		a{
			font-size: 0.8rem;
			display: block;
			color: #828282;
			padding: 4px 0 4px 16px;
		}
	}
}

.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .4s linear;
  animation: rippleDrop .4s linear;
}

@-webkit-keyframes
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}
@keyframes
  rippleDrop {  100% {
   -webkit-transform: scale(2);
   transform: scale(2);
   opacity: 0;
  }
}
