.item{
	background: black;
	border-bottom: solid 1px #282828;
	.item-title{
		width: 100%;
	    padding: 4px 0 4px 8px;
	    border-bottom: solid 1px #282828;
	}
	.item-list{
		padding-top: 4px;
		a{
			font-size: 0.8rem;
			display: block;
			color: #828282;
			padding: 4px 0 4px 16px;
		}
	}
}
